{% extends 'classroom/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">

{% if student.student_file.count == 0 %}
  <h2>No file Yet</h2>
{% else %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">File Name</th>
        <th scope="col">Uploaded By</th>
        <th scope="col">Uploaded Date</th>
        <th scope="col">Download</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for file in student.student_file.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ file.file_name }}</td>
          <td>{{ file.teacher }}</td>
          <td>{{ file.created_at }}</td>
          <td><a href="{{ file.file.url }}" class="btn btn-primary" target="_blank">Download</a></td>
          {% if file in file_list %}
            <td>Submitted</td>
          {% else %}
            <td><a href="{% url 'classroom:submit_file' id=file.id %}" class="btn btn-primary">Submit</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
</div>
{% endblock %}
